POSTGRES_URL="postgres://postgres.zpnuedwbltmlvjkeazbz:dUot260r28YKRND4@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_PRISMA_URL="postgres://postgres.zpnuedwbltmlvjkeazbz:dUot260r28YKRND4@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
SUPABASE_URL="https://zpnuedwbltmlvjkeazbz.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://zpnuedwbltmlvjkeazbz.supabase.co"
POSTGRES_URL_NON_POOLING="postgres://postgres.zpnuedwbltmlvjkeazbz:dUot260r28YKRND4@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
SUPABASE_JWT_SECRET="+/3FKZ04N7w2G90l1z23ngffHPTZGW2K5lLJBtnH407KGYGEaMmTuVkKSJu75Ef+MhKkN4+YKKUe6YDqLAZIvA=="
POSTGRES_USER="postgres"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwbnVlZHdibHRtbHZqa2VhemJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQ2MjA1MTUsImV4cCI6MjA1MDE5NjUxNX0.wA5q3WknrwzKn1h79IAApuQM483CkrKLgAxOR2jyPe8"
POSTGRES_PASSWORD="dUot260r28YKRND4"
POSTGRES_DATABASE="postgres"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwbnVlZHdibHRtbHZqa2VhemJ6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczNDYyMDUxNSwiZXhwIjoyMDUwMTk2NTE1fQ.v2cXHytJHRLR0TnJcOD3DlTbu0OLhKGr360PNwhEpLw"
POSTGRES_HOST="db.zpnuedwbltmlvjkeazbz.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwbnVlZHdibHRtbHZqa2VhemJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQ2MjA1MTUsImV4cCI6MjA1MDE5NjUxNX0.wA5q3WknrwzKn1h79IAApuQM483CkrKLgAxOR2jyPe8"